---
headline: MV Condo - CL Data
title: Current
subhead: A comfortablehome for Mesa Verde visitors!
---
    <a href="data_history.html">View Historical Data</a>
    <div id="report">
    <h2>Current Listings for 2014-08-15</h2>
    <table>
      <tr><th>Link</th><th>Text</th><th>Rent</th></tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4618929608.html' target='_blank'>1</a></td>
      <td>Apartment for rent in country home</td>
      <td>$300</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4617535539.html' target='_blank'>2</a></td>
      <td>Mobile Home For Rent</td>
      <td>$10</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4617515507.html' target='_blank'>3</a></td>
      <td>New Custom Cabin for Rent near Mesa Verde</td>
      <td>$700</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4613713976.html' target='_blank'>4</a></td>
      <td>Beautiful 2 BR 1.5 BA Apt w/ Washer/Dryer</td>
      <td>$700</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4609606443.html' target='_blank'>5</a></td>
      <td>House for rent in Cortez is a Scam</td>
      <td></td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4594183307.html' target='_blank'>6</a></td>
      <td>Cortez Home, 2 bed + office</td>
      <td>$775</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4606559142.html' target='_blank'>7</a></td>
      <td>FURNISHED CONDO</td>
      <td>$1,000</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4603488860.html' target='_blank'>8</a></td>
      <td>FURNISHED CONDO</td>
      <td>$1,200</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4600744426.html' target='_blank'>9</a></td>
      <td>FURNISHED CONDO</td>
      <td></td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4598965356.html' target='_blank'>10</a></td>
      <td>1,400 sq ft furnished condo</td>
      <td></td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4597359311.html' target='_blank'>11</a></td>
      <td>1,400 sq ft furnished condo</td>
      <td></td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4596376201.html' target='_blank'>12</a></td>
      <td>1,400 sq ft furnished condo</td>
      <td>$1,200</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4595062584.html' target='_blank'>13</a></td>
      <td>2 bed, 1 bath - Nice Mobile Close to Cortez</td>
      <td>$750</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4591180182.html' target='_blank'>14</a></td>
      <td>Nice! 3 bedroom 1 bath</td>
      <td>$850</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4548682724.html' target='_blank'>15</a></td>
      <td>Beautiful Log Ranch Style Home</td>
      <td>$950</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4589050515.html' target='_blank'>16</a></td>
      <td>1400 sq feet furnished condo</td>
      <td>$1,200</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4587457841.html' target='_blank'>17</a></td>
      <td>****Furnished Mo to Mo  2bd Rental in Cortez****</td>
      <td></td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4584490970.html' target='_blank'>18</a></td>
      <td>Furnished condo</td>
      <td>$1,100</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4537013931.html' target='_blank'>19</a></td>
      <td>Spacious, furnished studio</td>
      <td>$550</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4571104583.html' target='_blank'>20</a></td>
      <td>Nice! 2Bedroom 1Bath House</td>
      <td></td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4542167710.html' target='_blank'>21</a></td>
      <td>Large Home for Rent in Downtown Cortez area</td>
      <td>$1000</td>
      </tr>
      <tr>
      <td><a href='http://westslope.craigslist.org/apa/4549009360.html' target='_blank'>22</a></td>
      <td>cortez house 950.00 lots of room</td>
      <td></td>
      </tr>
</table></div>
